.ui-g-12 {
  text-align: center;
}

.p-float-label {
  margin: 5%;
}

button {
  margin-left: 5px;
}

.btnEdit {
  background-color: rgb(128, 212, 178);
  border-color: rgb(128, 212, 178);
  color: white;
}

.btnDelete {
  background-color: rgb(192, 112, 102);
  border-color: rgb(192, 112, 102);
  color: white;
}

.btnNuevo {
  background-color: rgb(93, 149, 127);
  border-color: rgb(93, 149, 127);
  color: white;
  width: 120px;
  height: 40px;
}

 /*!important para que funcione */
.btnNuevo:hover{
  background-color: white !important;
  border-color: rgb(93, 149, 127) !important;
  color: rgb(93, 149, 127) !important;
}

.btonCancelar {
  color: rgb(192, 112, 102);
}

.btonCancelar:hover {
  color: rgb(192, 112, 102) !important;
}

.btonGuardar {
  color: rgb(93, 149, 127);
}

.btonGuardar:hover {
  color: rgb(93, 149, 127) !important;
}

.p-invalid {
  color: red;
}

.tituloH4 {
  margin-top: 3%;
  margin-bottom: 1%;
  text-align: center;
}

.estiloLabel {
  margin-right: 2%;
}


/*.p-datepicker-calendar {
  width: 20px;
  height: 20px;
  padding: 4px;
}*/

/*div.ng-trigger:nth-child(3)
.p-datepicker-group-container
.p-datepicker-group
.p-datepicker-calendar-container


div.ng-trigger:nth-child(3) - Panel blanco
.p-datepicker-calendar
.p-datepicker-calendar
*/
