<p-confirmDialog [style]="{width: '450px'}" acceptLabel="Sí" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast></p-toast>

<p-card header="Contactos" [style]="{height: '90%'}">

  <!-- MENU BAR -->
  <p-menubar>
    <button pButton pRipple type="button" label="Nuevo" icon="pi pi-plus" class="btnNuevo p-button-raised p-button-text"
      (click)="abrirModal()"></button>
  </p-menubar>

  <!-- TABLA CONTACTOS -->
  <p-table [value]="contactos" [columns]="cols" [paginator]="true" [rows]="6" selectionMode="single" [responsive]="true"
    [style]="{width: '90%', height:'80%', margin: 'auto', border: 'solid 2px rgb(223, 231, 227)', 'margin-top': '1%'}">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="nombre" [style]="{'text-align': 'center'}">Nombre <p-sortIcon field="nombre"></p-sortIcon>
        </th>
        <th *ngFor="let col of columns" [style]="{'text-align': 'center'}">
          {{col.header}}
          <!-- Pinta de forma dinamica los headers -->
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-contacto let-columns="columns">
      <tr>
        <td class="classpSortableColumn" [style]="{'text-align': 'center'}">{{contacto.nombre}}</td>
        <td *ngFor="let col of columns" [style]="{'text-align': 'center'}">
          {{contacto[col.field]}}
        </td>
        <td [style]="{'text-align': 'center'}">
          <button pButton pRipple icon="pi pi-pencil" class="btnEdit p-button-rounded p-button-success p-mr-2"
            (click)="editarContacto(contacto);"></button>
          <button pButton pRipple icon="pi pi-trash" class="btnDelete p-button-rounded p-button-warning"
            (click)="eliminarContacto(contacto);"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No hay contactos.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<!-- Modal displaySaveDialog - NUEVO/EDITAR CONTACTO -->
<p-dialog [(visible)]="displaySaveDialog" header={{title}} [modal]="true" styleClass="p-fluid" [responsive]="true"
  [style]="{width: '40%'}">

  <!--<form [style]="{width: '80%', height: '50%', margin: 'auto'}">-->
  <ng-template pTemplate="content">
    <div class="form-group" [style]="{width: '80%', margin: 'auto'}">
      <h4 class="tituloH4">Nombre *</h4>
      <input class="form-control" type="text" pInputText id="nombre" [(ngModel)]="contacto.nombre" name="nombre"
        required autofocus />
      <small class="p-invalid" *ngIf="submitted && !contacto.nombre">El nombre es requerido.</small>
    </div>

    <div class="form-group" [style]="{width: '80%', margin: 'auto'}">
      <h4 class="tituloH4">Apellido</h4>
      <input class="form-control" type="text" pInputText id="apellido" [(ngModel)]="contacto.apellido"
        name="apellido" />
    </div>

    <div class="form-group" [style]="{width: '80%', margin: 'auto'}">
      <h4 class="tituloH4">Fecha Nacimiento *</h4>
      <p-inputMask class="form-control" mask="99/99/9999" id="fechanac" [(ngModel)]="contacto.fechanac" name="fechanac"
        placeholder="dd/mm/yyyy" [style]="{'text-align': 'center'}" [required]="true"></p-inputMask>
      <small class="p-invalid" *ngIf="submitted && !contacto.fechanac">La fecha de nacimiento es requerida.</small>
    </div>

    <div class="form-group" [style]="{width: '80%', margin: 'auto'}">
      <h4 class="tituloH4">Email</h4>
      <input class="form-control" type="text" pInputText id="email" [(ngModel)]="contacto.email" name="email" />
    </div>

    <div class="tituloH4">
      <label class="estiloLabel form-group">Fiesta</label>
      <p-inputSwitch id="fiesta" [(ngModel)]="checked" name="fiesta"></p-inputSwitch>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="btonCancelar p-button-text"
      (click)="cerrarDialog()"></button>
    <button pButton pRipple label="Guardar" icon="pi pi-check" (click)="guardarContacto()"
      class="btonGuardar p-button-text"></button>
  </ng-template>
</p-dialog>
