<p-toast></p-toast>

<p-card header="BIENVENIDO"
  [style]="{width: '30%', height: '55%','margin': 'auto', 'margin-top': '5%', 'text-align': 'center', 'color': 'white', 'background-color': 'rgb(115, 176, 146)'}">

  <div class="card-body">
    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
      <div class="form-group">
        <h4 class="tituloH4" for="nombreUsuario">Nombre de usuario</h4>
        <input type="text" pInputText name="nombreUsuario" id="nombreUsuario" class="form-control"
          [(ngModel)]="nombreUsuario" required [style]="{'text-align': 'center'}">
      </div>
      <div class="form-group">
        <h4 class="tituloH4" for="password">Contraseña</h4>
        <input type="password" pInputText name="password" id="password" class="form-control" [(ngModel)]="password"
          required [style]="{'text-align': 'center'}">
      </div>
      <div class="form-group">
        <button pButton label="Iniciar sesion" class="btnIniciarSesion p-button-raised p-button-text"></button>
      </div>
    </form>
    <div>
      <p class="hrefregistro">¿Aún no tienes cuenta? <a [routerLink]="'registro'">Regístrate</a></p>
    </div>
  </div>

</p-card>
