/* MENU */
/*mat-sidenav-container {
  height:100%;
}

.toolbar-item-span {
  padding-left: 2%;
}

mat-sidenav {
  padding-top: 1%;
  width: 15%;
}

.sidenav-item {
  padding: 10%;
  margin: 5% 0;
}

.sidenav-item-span {
  padding-left: 10%;
}

mat-sidenav-content {
  padding: 2%;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
background-color: rgb(97, 191, 153, 0.6);
}

mat-sidenav {
background-color: rgb(139, 204, 178, 0.1);
}*/

/* INICIO */
full-calendar {
  text-transform: capitalize;
  color: rgb(69, 107, 92);
  text-align: center;
}
