<p-button icon="pi pi-bell" styleClass="p-button-secondary p-button-text" style="float: left;" badge={{valorNotif}}
  *ngIf="valorNotif!=null" badgeClass="p-badge-warning" (click)="op.toggle($event)"></p-button>
<p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '21%'}">
  <ng-template pTemplate>
    <p-table [value]="contactosNotif" selectionMode="single" [responsive]="true">
      <ng-template pTemplate="body" let-contactoNotif let-columns="columns">
        <tr>
          <td class="classpSortableColumn"> ¡ Hoy es el cumpleaños de {{contactoNotif.nombre}} !</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="4">No hay notificaciones</td>
        </tr>
      </ng-template>
    </p-table>
  </ng-template>
</p-overlayPanel>

<p-card class="no-header">
  <full-calendar [options]="calendarOptions"></full-calendar>
</p-card>
