<p-confirmDialog [style]="{width: '450px'}" acceptLabel="Sí" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-toast></p-toast>

<p-card header="Fiestas" [style]="{height: '90%'}">

  <!-- MENU BAR -->
  <p-menubar>
    <button pButton pRipple type="button" label="Nuevo" icon="pi pi-plus" class="btnNuevo p-button-raised p-button-text"
      (click)="abrirModal()"></button>
  </p-menubar>

  <!-- TABLA FIESTAS -->
  <p-table [value]="fiestas" [columns]="cols" [paginator]="true" [rows]="6" selectionMode="single"
    [style]="{width: '90%', height:'80%', margin: 'auto', border: 'solid 2px rgb(223, 231, 227)', 'margin-top': '1%'}">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pSortableColumn="nombreContacto" class="classpSortableColumn" [style]="{'text-align': 'center'}">Nombre
          contacto<p-sortIcon field="nombreContacto"></p-sortIcon>
        </th>
        <th *ngFor="let col of columns" [style]="{'text-align': 'center'}">
          {{col.header}}
          <!-- Pinta de forma dinamica los headers -->
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fiesta let-columns="columns">
      <tr>
        <td [style]="{'text-align': 'center'}">{{fiesta.nombreContacto}}</td>
        <td *ngFor="let col of columns" [style]="{'text-align': 'center'}">
          <a [routerLink]="['/fiestas',fiesta.fiestaId]">
            {{fiesta[col.field]}}
          </a>
        </td>
        <td [style]="{'text-align': 'center'}">
          <button pButton pRipple icon="pi pi-pencil" class="btnEdit p-button-rounded p-button-success"
            [routerLink]="['/fiestas',fiesta.fiestaId]"></button>
          <button pButton pRipple icon="pi pi-trash" class="btnDelete p-button-rounded p-button-warning"
            (click)="eliminarFiesta(fiesta)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4">No hay fiestas.</td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<!-- Modal displaySaveDialog - NUEVA FIESTA -->
<p-dialog [(visible)]="displaySaveDialog" header={{title}} [modal]="true" styleClass="p-fluid" [style]="{width: '35%'}">
  <ng-template pTemplate="content">
    <div class="p-field" [style]="{width: '60%', 'margin': 'auto'}">
      <h4 class="tituloH4">Contacto *</h4>
      <p-dropdown [options]="contactos" [(ngModel)]="contacto" placeholder="Selecciona un contacto" optionLabel="nombre"
        [showClear]="true" [style]="{'text-align': 'center'}"></p-dropdown>
      <small class="p-invalid" *ngIf="submitted && !contacto.nombre">El contacto es requerido.</small>
    </div>

    <div class="p-field" [style]="{width: '60%', 'margin': 'auto'}">
      <h4 class="tituloH4">Fecha</h4>
      <!-- <p-calendar inputId="icon" [(ngModel)]="fiesta.fechaFiesta" [showIcon]="true" dateFormat="dd/MM/yyyy"
      [firstDayOfWeek]="1"></p-calendar>-->
      <p-inputMask mask="99/99/9999" [(ngModel)]="fiesta.fechaFiesta" placeholder="dd/mm/yyyy"
        [style]="{'text-align': 'center'}"></p-inputMask>
    </div>

    <div class="p-field" [style]="{width: '60%', 'margin': 'auto'}">
      <h4 class="tituloH4">Temática de la fiesta</h4>
      <input type="text" pInputText id="tipo" [(ngModel)]="fiesta.tipo" required />
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="btonCancelar p-button-text"
      (click)="cerrarDialog()"></button>
    <button pButton pRipple label="Guardar" icon="pi pi-check" class="btonGuardar p-button-text"
      (click)="addFiesta()"></button>
  </ng-template>
</p-dialog>
