a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}

button {
  margin-left: 5px;
}

.card {
  background-color: white;
}

.btnNuevo {
  background-color: rgb(93, 149, 127);
  border-color: rgb(93, 149, 127);
  color: white;
  width: 120px;
  height: 40px;
}

 /*!important para que funcione */
 .btnNuevo:hover{
  background-color: white !important;
  border-color: rgb(93, 149, 127) !important;
  color: rgb(93, 149, 127) !important;
}

.btonCancelar {
  color: rgb(192, 112, 102);
}

.btonCancelar:hover {
  color: rgb(192, 112, 102) !important;
}

.btonGuardar {
  color: rgb(93, 149, 127);
}

.btonGuardar:hover {
  color: rgb(93, 149, 127) !important;
}

.btnEdit {
  background-color: rgb(128, 212, 178);
  border-color: rgb(128, 212, 178);
  color: white;
}

.btnEdit:hover {
  background-color: rgb(84, 150, 124) !important;
  border-color: rgb(84, 150, 124);
  color: white;
}

.btnDelete {
  background-color: rgb(192, 112, 102);
  border-color: rgb(192, 112, 102);
  color: white;
}

.p-invalid {
  color: red;
}

.tituloH4 {
  margin-top: 3%;
  margin-bottom: 1%;
  padding-left: 10%;
}
