.fieldinput {
  margin: 0.3%;
}

input {
  text-align: center;
}

.div1 {
  border: 2px solid black;
}

button {
  margin-left: 10px;
}

.panelDatos {
  margin: 4%;
  margin-top: -5%;
  padding: 5%;
}

.panelCompras {
  margin: 3%;
  padding: 3%;
}

.btonCancelar {
  color: rgb(192, 112, 102);
}

.btonCancelar:hover {
  color: rgb(192, 112, 102) !important;
}

.btonGuardar {
  color: rgb(93, 149, 127);
}

.btonGuardar:hover {
  color: rgb(93, 149, 127) !important;
}

.btnEdit {
  background-color: rgb(115, 176, 146);
  border-color: rgb(115, 176, 146);
  color: white;
  margin-top: -15%;
}

.btnDelete {
  background-color: rgb(192, 112, 102);
  border-color: rgb(192, 112, 102);
  color: white;
}

p-table {
  text-align: center;
}

.btnDeleteCompras {
  color: rgb(192, 112, 102);
}

.btnDeleteCompras:hover {
  color: rgb(192, 112, 102) !important;
}

.cardFiesta {
  width: 25rem;
  margin-bottom: 2em;
  position: relative;
  left: 5%;
}

.cardCompras {
  width: 25rem;
  margin-bottom: 2em;
  position: relative;
  right: 30%;
}

