

.p-card-content {
  margin-top: -1%;
}

.grid {
  height: 50% !important;
}

input {
  text-align: center;
}

.btnEdit {
  background-color: rgb(115, 176, 146);
  border-color: rgb(115, 176, 146);
  color: white;
}

.tituloH4 {
  margin-top: 3%;
  margin-bottom: 1%;
  text-align: center;
}

.btnCancelar {
  color: rgb(192, 112, 102);
}

.btnCancelar:hover {
  color: rgb(192, 112, 102) !important;
}

.btnGuardar {
  color: rgb(93, 149, 127);
}

.btnGuardar:hover {
  color: rgb(93, 149, 127) !important;
}

.botonesEdit {
  margin-top: 2%;
  text-align: center;
}

.p-invalid {
  color: rgb(245, 51, 51);
}
